<!DOCTYPE html PUBLIC -//W3C//DTD XHTML 1.0 Strict//EN http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd>

	<html lang="en">

		<head>
			
			<title>Ovolisky</title>
	
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
			<style>
			
				body {
					background-color: #FFF0F0;
					font-size: 20px;
					
				}
				
				#btnHolder {
					text-align: center;
				}
				
				#btnHolder button {
					height: 2.5cm; 
					width: 6cm;
					background-color: green;
					font-size: 25px; 
					font-weight: 700;
					color: white;
					border-radius: 10%;
				}
			
			</style>
	
		</head>
		
		<body>
		
			Dear username,
			
			<br><br>
			
			You created an account on Ovolisky.com with this email. Kindly confirm your email by clicking on the link below. Please ignore if it isn't you.
			
			<br><br>
			
			<div id="btnHolder">
			
			<a href="http://ovolisky.com/confirm-email?id=emailConfirmationCode">
			
				<button>Confirm Account</button>
			
			</a>
			
			</div>
			
			<br><br>
			
			For enquiries, contact us at <a target="_blank" href="mailto:support@ovolisky.com">support@ovolisky.com</a>. Any email forwarded to this email will not be replied to. 
			
		</body>
		
	</html>
	